body {
    background-color:rgb(33, 139, 6);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tafel {
    background-color: azure;
    background-image: url(images/chess.jpg);
    background-size: 100%;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
}
.Cell {
    flex-basis: 12.5%;
}
.chess {
    
    z-index: 2;
    height: 86%;
    width: 145%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-basis: auto;
    flex-shrink: 0;
    margin-left: -23%;
    margin-top: -39%;
}
.chessWhite {
    display: flex;
    flex-basis: 13%;
    flex-wrap: wrap;
    
}
.chessBlack {
    display: flex;
    flex-basis: 13%;
    flex-wrap: wrap;
}
.chessWhiteImg {
    width: 50%;
    height: 10%;
}
.chessBlackImg {
    width: 50%;
    height: 10%;
}