body {
    background-color:rgb(33, 139, 6);
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100vmin;
    height: 100vmin;
}
.wrapper {
    display: flex;
    justify-content: center;
}
    .wrapTafel {
        background-image: url(images/chess.jpg);
        background-size: 100%;
        width: 50vw;
        height: 50vw;
    }
        .tafel {
            // background-color: azure;
            // background-image: url(images/chess.jpg);
            // background-size: 100%;
            width: 85%;
            height: 85%;
            display: flex;
            flex-wrap: wrap;
            margin: 7.4%;
        }
            .Cell {
                // height: 10vw;
                // width: 10vw;
                flex-basis: 12.5%;
            }
.chess {
    height: 90%;
    width: 50%;
    // min-width: 1280px;
    z-index: 2;
    display: flex;
    margin-left: 2.5%;
    padding-top: 2vmin;
    position: absolute;
    justify-content: space-between;
    // transition: all 1s ease
    
}

// @media screen and (max-width: 1280px) {
//     .chess {
//       display: none;
//     }
//   }
    .chessWhite {
        display: flex;
        flex-basis: 13%;
        flex-wrap: wrap;
        
    }
    .chessBlack {
        display: flex;
        flex-basis: 13%;
        flex-wrap: wrap;
    }
        .chessImg {
            transition: top 1s ease, left 1s ease;
            // transition: top 1s ease
        }
